<h1>Welcome to Article!</h1>

<p>Here you can publish your Article</p>

<h1>Articles</h1>
<ul>
  <% @newspaper.articles.each do |article| %>
    <li>
    <%= link_to article.title, news_paper_article_path(news_paper_id: @newspaper.id, id: article.id) %>
      </a>
    </li>
  <% end %>
</ul>
<%= link_to "New Article", new_news_paper_article_path %>
